{% extends 'base.html' %}
{% block title %}
Andrew Tulloch &mdash; Cambridge Part III Exam Papers
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="page-header">
      <h1>Download Cambridge Part III Exam Papers <small>An Andrew Tulloch Production</small></h1>
    </div>
    <form role="form" action="" method=post>
      <table class="table table-striped">
        <tr>
          <th>Subject</th>
        </tr>
        {% for subject in subjects %}
        <tr>
          <td>
            <div class="checkbox">
              <label>
                <input type=checkbox name=do_download value="{{ subject }}">
                {{ subject }}
              </label>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      <div class="center-block">
        <button type="submit" class="btn btn-primary">Download</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
